Backend programozás és tesztelés/wcfServer02Service/HOST/Connected Services/ServiceReference2/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFelhasznalokNevEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FelhasznalokNevEmail" nillable="true" type="tns:FelhasznalokNevEmail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFelhasznalokNevEmail" nillable="true" type="tns:ArrayOfFelhasznalokNevEmail" />
  <xs:complexType name="FelhasznalokNevEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nev" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FelhasznalokNevEmail" nillable="true" type="tns:FelhasznalokNevEmail" />
  <xs:complexType name="ArrayOfJogosultsagNevLeiras">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JogosultsagNevLeiras" nillable="true" type="tns:JogosultsagNevLeiras" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJogosultsagNevLeiras" nillable="true" type="tns:ArrayOfJogosultsagNevLeiras" />
  <xs:complexType name="JogosultsagNevLeiras">
    <xs:sequence>
      <xs:element minOccurs="0" name="Leiras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nev" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JogosultsagNevLeiras" nillable="true" type="tns:JogosultsagNevLeiras" />
</xs:schema>