Backend programozás és tesztelés/wcfServer02Service/HOST/Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62868/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Modells" />
  <xs:import schemaLocation="http://localhost:62868/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.DTOs" />
  <xs:element name="FelhasznalokLista_CS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznalokLista_CSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="FelhasznalokLista_CSResult" nillable="true" type="q1:ArrayOfFelhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="record" nillable="true" type="q2:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="felhasznalo" nillable="true" type="q3:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloDeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="JogosultsagokListaResult" nillable="true" type="q4:ArrayOfJogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagHozzaAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="jogosultsag" nillable="true" type="q5:Jogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagHozzaAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JogosultsagHozzaAdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagFrissit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="jogosultsag" nillable="true" type="q6:Jogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagFrissitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JogosultsagFrissitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagTorol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagTorolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JogosultsagTorolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznalokLista_WEB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznalokLista_WEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="FelhasznalokLista_WEBResult" nillable="true" type="q7:ArrayOfFelhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloHozzaAd_WEB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="felhasznalo" nillable="true" type="q8:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloHozzaAd_WEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloHozzaAd_WEBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloUpdate_Web">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="felhasznalo" nillable="true" type="q9:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloUpdate_WebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloUpdate_WebResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloDelete_WEB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloDelete_WEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloDelete_WEBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznalokNevEmailCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznalokNevEmailCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.DTOs" minOccurs="0" name="FelhasznalokNevEmailCSResult" nillable="true" type="q10:ArrayOfFelhasznalokNevEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznalokNevEmailWEB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznalokNevEmailWEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="FelhasznalokNevEmailWEBResult" nillable="true" type="q11:ArrayOfFelhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJogosultsagokWEB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJogosultsagokWEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="GetJogosultsagokWEBResult" nillable="true" type="q12:ArrayOfJogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokUpdateWEB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="jogosultsag" nillable="true" type="q13:Jogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokUpdateWEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JogosultsagokUpdateWEBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokInsertWEB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="jogosultsag" nillable="true" type="q14:Jogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokInsertWEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JogosultsagokInsertWEBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokDeleteWEB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagokDeleteWEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JogosultsagokDeleteWEBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagNevLeiras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagNevLeirasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server.DTOs" minOccurs="0" name="JogosultsagNevLeirasResult" nillable="true" type="q15:ArrayOfJogosultsagNevLeiras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagNevLeirasWEB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagNevLeirasWEBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Modells" minOccurs="0" name="JogosultsagNevLeirasWEBResult" nillable="true" type="q16:ArrayOfJogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>