Backend programozás és tesztelés/BankCardCliens/BankCardCliens/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankCard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankCard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BankCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="BiztonsagiKod" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="KartyaSzam" type="xs:decimal" />
      <xs:element minOccurs="0" name="Kibocsato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lejarat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nev" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankCard" nillable="true" type="tns:BankCard" />
</xs:schema>