Backend programozás és tesztelés/BankCardCliens/BankCardCliens/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49765/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankCard" />
  <xs:element name="GetBankCard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankCard" minOccurs="0" name="GetBankCardResult" nillable="true" type="q1:BankCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>